@font-face {
	font-family: 'SancreekRegular';
	src: url('../fonts/sancreek-regular-webfont.eot');
	src: url('../fonts/sancreek-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sancreek-regular-webfont.woff') format('woff'), url('../fonts/sancreek-regular-webfont.ttf') format('truetype'), url('../fonts/sancreek-regular-webfont.svg#SancreekRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	background: url(../images/bg-body.gif) repeat;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}
#page {
	width: 960px;
	margin: 0 auto;
}
img {
	border: 0;
}
.more, #footer .subscribe form input.button, #contacts input.button, #shirts a.button {
	background: url(../images/buttons.png) no-repeat;
	
}
#footer .subscribe form input.txtfield, #contacts input, #contacts textarea {
	background: url(../images/inputs.png) no-repeat;
}
.more {

	background-position: -162px 0;
	color: #fff;
	display: block;
	font-family: 'SancreekRegular';
	font-size: 20px;
	line-height: 54px;
	height: 54px;
	width: 152px;
	margin: 0 auto;
	text-decoration: none;
	text-transform: uppercase;
}
.more:hover {
	background-position: 0 0;
	color: #fbf8b5;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	background: url(../images/bg-header.png) repeat-x;
	padding-bottom: 25px;
}
#header > div {
	height: 426px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}
/** Logo **/
#logo {
	position: absolute;
	top: 36px;
	left: 338px;
}
/** Navigation **/
#navigation {
	display: inline-block;
	width: 960px;
}
#navigation div {
	background: url(../images/bg-info-links.png) no-repeat;
	color: #f9fbca;
	height: 32px;
	width: 180px;
	text-align: center;
}
#navigation div.infos {
	float: right;
}
#navigation div a {
	color: #fcf3b2;
	font-size: 14px;
	line-height: 32px;
	border-left: 1px solid #f9fbca;
	padding: 0 5px;
	text-decoration: none;
}
#navigation div a:first-child {
	border-left: 0;
	padding-left: 0;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	width: 338px;
	margin: 144px 0 0;
	padding: 0;
}
#navigation li {
	float: left;
	width: 112px;
	text-align: center;
}
#navigation ul li a {
	color: #feffff;
	font-family: Impact;
	font-size: 24px;
	line-height: 36px;
	padding: 5px 0px 5px 3px;
	text-decoration: none;
}
#navigation ul li a span {
	padding: 5px 10px 5px 7px;
}
#navigation ul li a:hover, #navigation ul li.selected a {
	background: url(../images/bg-menu-selected-left.png) no-repeat left center;
	color: #fcf3b2;
}
#navigation ul li a:hover span, #navigation ul li.selected a span {
	background: url(../images/bg-menu-selected-right.png) no-repeat right center;
}
#navigation ul#primary {
	float: left;
}
#navigation ul#secondary {
	float: right;
}
/** Adbox **/
#test {
	width: 970px;
	margin: 0px auto 24px;
	position: relative;
}
#test ul {
	/* display: inline-block;
	list-style: none; */
	/* margin: 0 30px; */
	padding: 0;
}
/* #test ul li {
	float: left;
	width: 288px;
	margin-left: 16px;
}
#test ul li:first-child {
	margin-left: 0px;
} */
#test ul li img {
	border: 1px solid #83826e;
}
#test h1, #contents h1 {
	background: url(../images/bg-heading.png) no-repeat center;
	color: #ffffb0;
	font-family: 'SancreekRegular';
	height: 61px;
	line-height: 60px;
	margin: 0 0 30px;
	text-align: center;
	text-transform: uppercase;
}
/*------------------------------ CONTENTS ------------------------------*/
#body {
	background-color: #242424;
	border-bottom: 1px solid #161616;
	border-top: 1px solid #494949;
	margin: 0 0 30px;
}
#contents {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0;
}
#articles {
	/* display: inline-block; */
	list-style: none;
	
	/* margin: 0 30px; */
	padding: 0;
}
#articles li {
	float: left;
	width: 288px;
	margin-left: 16px;
	text-align: center;
}
#articles li:first-child {
	margin-left: 0px;
}
#articles li h1 {
	background: url(../images/bg-heading2.png) no-repeat center;
	color: #fff;
	font-family: 'SancreekRegular';
	height: 60px;
	line-height: 60px;
	margin: 0 0 24px;
	text-transform: uppercase;
}
#articles li p {
	color: #717272;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0 15px 24px;
}
#articles li p a {
	color: #717272;
}
#articles li p a:hover {
	color: #b6b6b6;
}
#sidebar {
	float: right;
	height: inherit;
	width: 220px;
	margin: 0 30px 0 10px;
}
#sidebar h4, #main h4 {
	color: #7b8c96;
	line-height: 24px;
	margin: 0 0 24px;
	text-shadow: 1px 0px #151c22, 0px -1px #151c22, -1px 0px #151c22, 0px 1px #151c22;
}
h4.uppercase {
	text-transform: uppercase;
}
#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#about-list li {
	color: #fbfaa7;
	list-style: square inside;
}
ul#about-list li a, ul#archives li a {
	color: #fff;
	font-size: 15px;
	line-height: 24px;
	text-decoration: none;
}
ul#about-list li a:hover, ul#archives li a:hover {
	color: #b5b5b5;
}
#main {
	width: 650px;
	margin: 0 10px 0 30px;
}
#main p {
	color: #fff;
	font-size: 15px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
	text-align: justify;
}
#main p a {
	color: #fff;
	text-shadow: 1px 0px #151c22, 0px -1px #151c22, -1px 0px #151c22, 0px 1px #151c22;
}
#main p a:hover {
	color: #b6b6b6;
}
/** Blogs **/
ul#blogs, #sidebar ul.contacts {
	background: url(../images/border-latest-post.gif) repeat-x left bottom;
	margin: 0 0 22px;
	padding: 0 0 2px;
}
ul#blogs li, #sidebar ul.contacts li {
	background: url(../images/border-latest-post.gif) repeat-x left top;
	padding: 26px 0 0;
}
ul#blogs li:first-child, #sidebar ul.contacts li:first-child {
	background: none;
	padding-top: 0;
}
ul#blogs li span, #sidebar ul.contacts li span {
	color: #81888e;
	font-size: 15px;
	line-height: 24px;
}
ul#blogs li a, #sidebar ul.contacts li a {
	color: #fff;
	display: block;
	font-size: 15px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 24px;
	text-align: justify;
	text-decoration: none;
}
#sidebar ul.contacts li a {
	font-size: 14px;
	text-align: left;
}
#sidebar ul.contacts li .num {
	font-size: 0.843em;
}
ul#blogs li a:hover, #sidebar ul.contacts li a:hover {
	color: #b5b5b5;
}
/** Contacts **/
#contacts {
	font-size: 15px;
	line-height: 24px;
	min-height: 400px;
	margin-bottom: 30px;
}
#contacts td {
	vertical-align: top;
}
#contacts label {
	color: #81888e;
	display: inline-block;
	width: 140px;
}
#contacts input {
	background-position: 0 -59px;
	height: 23px;
	width: 373px;
	border: 0;
	padding: 1px 4px;
}
#contacts input.button {
	float: right;
	background-position: -162px -212px;
	cursor: pointer;
	height: 42px;
	width: 81px;
}
#contacts input.button:hover {
	background-position: 0 -212px;
	color: #fbf8b5;
}
#contacts textarea {
	background-position: 0 -108px;
	height: 190px;
	width: 373px;
	border: 0;
	padding: 4px;
}
#contacts table td {
	padding-bottom: 24px;
}
/** Mens and Womens Pages **/
#shirts {
	display: inline-block;
	list-style: none;
	margin: 0 30px;
	padding: 24px 0;
}
#shirts li {
	float: left;
	width: 288px;
	margin-left: 16px;
}
#shirts li:first-child {
	margin-left: 0px;
}
#shirts li img {
	margin: 0 0 12px;
	border: 1px solid #83826e;
}
#shirts li a.button {
	float: right;
	background-position: -162px -78px;
	color: #fefefe;
	display: block;
	font-family: 'SancreekRegular';
	line-height: 49px;
	height: 49px;
	width: 121px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#shirts li a.button:hover {
	background-position: 0 -78px;
	color: #fbf8b5;
}
#shirts li p {
	color: #eee9a9;
	font-family: 'SancreekRegular';
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0;
	text-transform: uppercase;
}
#shirts li p span {
	color: #81888e;
	font-weight: bold;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
	background: url(../images/border-copyright.gif) repeat-x left bottom;
	border-top: 1px solid #5f6d6d;
	padding-bottom: 2px;
	position: relative;
}
#footer div.background {
	background: url(../images/bg-footer.jpg) repeat;
	padding: 30px 0;
}
#footer div.body {
	min-height: 107px;
	width: 900px;
	margin: 0 auto;
	padding: 0 30px;
}
#footer div.body div {
	float: left;
}
#footer div.body div h3 {
	color: #fff;
	letter-spacing: 1px;
	margin: 0 0 24px;
	text-align: left;
	text-shadow: 1px -1px #161a1b;
	text-transform: uppercase;
}
#footer .subscribe {
	width: 300px;
}
#footer .subscribe form {
	padding-top: 6px;
}
#footer .subscribe form input.txtfield {
	float: left;
	background-position: 0 0;
	height: 35px;
	width: 176px;
	border: 0;
	margin-right: 10px;
	padding: 0px 2px;
}
#footer .subscribe form input.button {
	background-position: -162px -151px;
	cursor: pointer;
	height: 37px;
	width: 82px;
	border: 0;
}
#footer .subscribe form input.button:hover {
	background-position: 0 -151px;
}
#footer .posts {
	width: 380px;
	padding: 0 15px;
}
#footer .posts p {
	color: #aab4b6;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
}
#footer .posts p a {
	color: #aab4b6;
	font-weight: bold;
	text-decoration: none;
}
#footer .posts p span {
	float: right;
	display: inline;
	margin-right: 6px;
 *margin-top: -24px;/** Needed for IE **/
}
#footer .connect {
	line-height: 24px;
	width: 140px;
	padding: 0 15px;
	text-align: center;
}
#footer .connect a {
	background: url(../images/icons.png) no-repeat;
	display: inline-block;
	height: 22px;
	width: 23px;
	margin: 5px 10px 5px 0;
}
#footer .connect a.facebook {
	background-position: -38px 0;
}
#footer .connect a.facebook:hover {
	background-position: 0 0;
}
#footer .connect a.twitter {
	background-position: -38px -46px;
	width: 28px;
}
#footer .connect a.twitter:hover {
	background-position: 0 -46px;
	width: 28px;
}
#footer .connect a.googleplus {
	background-position: -38px -90px;
}
#footer .connect a.googleplus:hover {
	background-position: 0 -90px;
}
#footnote {
	background-color: #393939;
	color: #808080;
	display: block;
	font-size: 12px;
	line-height: 30px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: -30px;
	left: 0;
}
#footnote a {
	color: #808080;
	text-decoration: none;
}


